// Navigation Styles here

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10rem;
    height: 8.9rem;
    width: 52.5%;
    font-size: 1.7rem;
    border-bottom: 1px dashed grey;

    .nav-items  {
        display: flex;
        justify-content: space-evenly;
        width: 43.2%;
    }

    a {
        color: black;
        text-decoration: none;
    }
}